<div>
	<ul>
		<li>blabla1</li>
		<li>blabla2</li>
	</ul>
	
	<ol>
		<li>blabla1</li>
		<li>blabla2</li>
	</ol>
</div>
<% if(typeof copyright !== 'undefined'){ %>
	<p class="copyright">Copyright <%=copyright%></p>

<% } %>