<ul>
	<li><a href="/">Accueil</a></li>
	<li>Films</li>
	<li>Utilisateurs</li>
	<li><a href="/contact">Contact</a></li>
	<li><a href="/search">Recherche</a></li>
	<li><a href="/upload">Chargement</a></li>
</ul>